@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.main-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
}





.butn-div{

    display: block;
}




body{
    margin: 0px;
    padding: 0px;
    background :linear-gradient(135deg, blue, black);
}
a{
    height: 60px;
    width: 300px;
    border-radius: 30px; 
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    cursor: pointer;
    padding-top: 0.7%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 34px;

}

a:hover
{
    animation: animate 8s linear infinite;
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

a:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 1s;
}

a:hover:before
{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}